<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <%= form_for @professor_participant, url: {action: "create"}, html: { autocomplete: "off" } do |form| %>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Docente</h4>
      </div>
      <div class="modal-body">

      <div id="error"></div>
        <div class="form-group">
          <%= form.label "Docente" %>
          <%= form.select :professor_id,  options_for_select(Professor.all.map{ |c| [c.name + ' ' + c.last_name + ' CI:' + c.ci, c.id]}), {}, {class: 'select2',:style => "width:100%;"}%>
        </div>
        <div class="form-group" style="display:none;">
          <%= form.label :extension_id %>
          <%= form.text_field :extension_id, :value => @extension_id %>
        </div>
      </div>
      <div class="modal-footer" >
        <%= form.submit "Registrar",class: "btn btn-primary", id: "submit"%>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

      </div>
    <% end %>
  </div>
</div>
<script>
$('.select2').select2();
</script>