  <div class="invoice">
<div class="page-header"><%= Category.find(@category_id).name %></div>
  <div id="estudiante" style="display:none;"></div>

 <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">    
      <!-- Content Header (Page header) -->
          <div class="box">
          
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>CI</th>
                  <th>Correo</th>
                  <th>Horas de Extension</th>
                  <th>Carrera</th>
                  <th>Opciones</th>
                </tr>
                </thead>
                  <tbody>
                    <% @students.each do |student| %>
                      <tr>
                        <td><%= student.name %></td>
                        <td><%= student.lastname %></td>
                        <td><%= student.ci %></td>
                        <td><%= student.email %></td>
                        <td><%= student.hours %></td>
                        <td><%= student.career.name %></td>
                        <td>
                        <%= link_to '', student, class: 'btn btn-default fa fa-eye'%>
                        <%= link_to '', edit_student_path(student), class: 'btn btn-default fas fa-pencil-alt', :remote=>true %>
                        <%= link_to '', student, class: 'btn btn-default fas fa-trash-alt', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

<%= link_to 'Nuevo universitario', new_student_path(:category_id => @category_id), class: 'btn  btn-primary', :remote=>true %>



