<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @student.ci %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @student.hours %>
</p>

<p>
  <strong>Career:</strong>
  <%= @student.career %>
</p>

<%= link_to 'Editar', edit_student_path(@student) %> |
<%= link_to 'Atras', students_path %>
