

<%= form_with(model: investigation, local: true) do |form| %>
  <% if investigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investigation.errors.count, "error") %> prohibited this investigation from being saved:</h2>

      <ul>
      <% investigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class= 'col-sm-3 col-md-3'>
    </div>

    <div class= 'col-sm-6 col-md-6'>
      <h1>Nuevo Trabajo de Investigacion.</h1>

      <div class="form-group">
        <%= form.label :nombre %>
        <%= form.text_field :nombre, id: :investigation_nombre, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :descripcion %>
        <%= form.text_field :descripcion, id: :investigation_descripcion, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :fecha_entrega, "Fecha de entrega: " %>
        <%= form.date_select :fecha_entrega, id: :investigation_fecha_entrega, class: 'custom-select' %>
      </div>

      <div class="form-group">
        <%= form.label :user_id %>
        <%= form.select :user_id, options_for_select(User.all.map{|c| [c.email, c.id]}, :datos_personal_user_id), class: 'custom-select' %>
      </div>

      <div class="actions form-group">
        <%= form.submit "Guardar" , class: 'btn-primary' %>
      </div>

      <%= link_to 'Volver', investigations_path %>
    </div>
    
    <div class= 'col-sm-3 col-md-3'>
    </div>
  </div>
<% end %>
