  <% if notice != nil %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <%end%>
  <div id="new-inv" style='display:none;'></div>

<section class="col-md-12">
  <div class="box">
    <div class="box-header">
      <% if @rol.name == 'docenteInvestigador' %>
      <h1 style="text-align: center;" class="page-header">Investigaciones de los Docentes.</h1>
        <% else %>
        <h1 style="text-align: center;" class="page-header">Investigaciones de los Universitarios.</h1>
      <%end%>   
    </div>

    <div class="box-body table-responsive">
      <% if current_user.is_admin?%>
      <%= link_to 'Nuevo Trabajo', new_investigation_path(:param => @rol.id), class: 'btn btn-primary', :remote=>true %>
      <%end%>

      <div class="invoice">
      <table id="tablaInvestigacion" class="table table-hover dataTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Encargado</th>
            <th>Fecha de Incio</th>
            <th>Fecha de Fin</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @investigations.each do |investigation| %>
            <tr>
              <td><%= investigation.nombre %></td>
              
              <td><%= investigation.user.name + ' ' + investigation.user.last_name.to_s %></td>
              <td><%= investigation.fecha_inicio %></td>
              <td><%= investigation.fecha_fin %></td>
              <td>
                <span><%= link_to investigation_path(investigation, :param => @rol.name) do %><i class="btn fa fa-eye btn-default" data-toggle="tooltip" title="Detalles" data-placement="bottom"></i><%end%></span> 
                <% if current_user.is_admin?%>
                <span><%= link_to edit_investigation_path(investigation, :param => @rol.id), :remote=>true do %><i class="btn btn-default fa fa-pencil" data-toggle="tooltip" title="Editar" data-placement="bottom"></i><%end%></span> 
                <span><%= link_to investigation, method: :delete, data: { confirm: 'Estás seguro.?' } do %><i class="btn btn-default fa fa-close data-toggle="tooltip" title="Eliminar" data-placement="bottom""></i><%end%></span> 
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="box-footer">
    </div>
  </div>
</section>

<script>

$(document).ready(function() {
$('#tablaInvestigacion').DataTable();
 
} );
</script>