<p id="notice"><%= notice %></p>

  <div class="col-md-6">
  <h1>Detalle Proyecto</h1>
  <p>
    <strong>Nombre:</strong>
    <%= @extension.name %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @extension.description %>
  </p>

  <p>
    <strong>Fecha Inicio:</strong>
    <%= @extension.date_start %>
  </p>

  <p>
    <strong>Fecha Fin:</strong>
    <%= @extension.date_end %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @extension.state_name %>
  </p>

  <p>
    <strong>Encargado:</strong>
    <%= @extension.manager_name %>
  </p>

  <%= link_to 'Fotos', show_photos_extension_path(@extension) %> |
  <%= link_to 'Editar', edit_extension_path(@extension) %> |
  <%= link_to 'volver', extensions_path %>

  </div>

<div class="col-md-3">
</div>
