<p id="notice"><%= notice %></p>
  <h1>Detalle del Proyecto</h1>
  <section class="main row">
    <div class="col-md-4">
        <p>
          <strong>Nombre:</strong>
          <%= @extension.name %>
        </p>

        <p>
          <strong>Descripcion:</strong>
          <%= @extension.description %>
        </p>

        <p>
          <strong>Fecha Inicio:</strong>
          <%= @extension.date_start %>
        </p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>
          <strong>Fecha Fin:</strong>
          <%= @extension.date_end %>
        </p>

        <p>
          <strong>Estado:</strong>
          <%= @extension.state_name %>
        </p>

        <p>
          <strong>Encargado:</strong>
          <%= @extension.manager_name %>
        </p>
    </div>
  </section>
   
<h2 style="text-align: center;">Participantes</h2>
  <%= link_to new_participant_path(:id => @extension.id) do %><i class="btn btn-primary fa fa-user-plus"></i><%end%>


    <section class="content">
      <div class="row">
        <div class="col-xs-12">    
      <!-- Content Header (Page header) -->
          <div class="box">
          
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>CI</th>
                  <th>Correo</th>
                  <th>Horas de Extension en el proyecto</th>
                  <th>Carrera</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                  <tbody>
                    <% @extension.participants.each do |participant| %>
                      <tr>
                        <td><%= Student.find(participant.student_id).name %></td>
                        <td><%= Student.find(participant.student_id).lastname %></td>
                        <td><%= Student.find(participant.student_id).ci %></td>
                        <td><%= Student.find(participant.student_id).email %></td>
                        <td><%= Student.find(participant.student_id).hours %></td>
                        <td><%= Student.find(participant.student_id).career.name %></td>
                        <td><%= link_to 'Show', participant %></td>
                        <td><%= link_to 'Edit', edit_student_path(participant) %></td>
                        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                <tfoot>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>CI</th>
                  <th>Correo</th>
                  <th>Horas de Extension</th>
                  <th>Carrera</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <%= link_to 'Fotos', show_photos_extension_path(@extension) %> |
  <%= link_to 'Editar', edit_extension_path(@extension) %> |
  <%= link_to 'volver', extensions_path %>
  <script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

