<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <%= form_for @participant, url: {action: "update"}, html: { autocomplete: "off" } do |form| %>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Participante</h4>
      </div>
      <div class="modal-body">

      <div id="error"></div>
        <div class="form-group">
          <%= form.label "Universitario" %>
          <%= form.select :student_id,  options_for_select(Student.all.perteneces(@participant.extension_id, @participant.id).map{ |c| [c.name + ' ' + c.lastname + ' CI:' + c.ci, c.id]},@participant.student_id), {}, {class: 'select2',:style => "width:100%;"}%>
        </div>
        <div class="form-group">
          <%= form.label "Tipo de Participante" %><br>
          <% StudentType.all.each do |student|%>
            <% if student.id == @participant.student_type_id %>
              <%= form.radio_button :student_type_id, student.id, {class: "check",:id =>"radio",:checked => true} %> 
            <%else%>
              <%= form.radio_button :student_type_id, student.id,{class: "check",:id =>"radio"}%> 
            <% end -%>
            <label><%= student.participant%></label>
          <% end %> 
        </div>                
        <div class="form-group" id ="hora">
          <%= form.label "Horas de extension" %>
          <%= form.number_field :hours, class: 'form-control',min: 0, id: "input"%>
        </div>
        <div class="form-group" style="display:none;">
          <%= form.label :extension_id %>
          <%= form.text_field :extension_id, :value => @participant.extension_id %>
        </div>
      </div>
      <div class="modal-footer" >
        <%= form.submit "Registrar",class: "btn btn-primary", id: "submit"%>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

      </div>
      <script>     
        var elements = $(".check");
        for(var i=0; i<elements.length; i++){
            var element = elements.eq(i);
            if( $(element).is(':checked') && (($(element).val() == 1) || ($(element).val() == 3) || ($(element).val() == 4))) {
              $('#hora').hide();
              break;
            } else if($(element).is(':checked') && ($(element).val() == 2)){
              $('#hora').show();
              break;
            }
        }      
        $(document).ready(function() {  
  
            $('.select2').select2();
            $('.check').click(function() {
              if ($(this).val() == 2){
                $('#hora').show();
                $('#input').val(<%= @participant.hours%>);
                flag = false;
              }else{
                $('#hora').hide();
                $('#input').val(0);
                flag = false;
              }
              $('#submit').attr('disabled', flag);
            });
            $('#input').keyup(function(){
              if($(this).val() == ""){
                flag = true;
              }else{
                flag = false;
              }
              $('#submit').attr('disabled', flag);
            });
        });
        </script>
    <% end %>
  </div>
</div>

