<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <%= form_for @participant, url: {action: "create"}, html: { autocomplete: "off" } do |form| %>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Participante</h4>
      </div>
      <div class="modal-body">

      <div id="error"></div>
        <div class="form-group">
          <%= form.label "Universitario" %>
          <%= form.select :student_id,  options_for_select(Student.all.perteneces(@extension_id,0).map{ |c| [c.name + ' ' + c.lastname + ' CI:' + c.ci, c.id]}), {}, {class: 'select2',:style => "width:100%;"}%>
        </div>
        <div class="form-group">
          <%= form.label "Tipo de Participante" %><br>
          <% StudentType.all.each do |student|%>
            <%= form.radio_button :student_type_id, student.id, {class: "check",:checked => true} %> 
            <label><%= student.participant%></label>
          <% end %>
        </div>                
        <div class="form-group" id ="hora">
          <%= form.label "Horas de extension" %>
          <%= form.number_field :hours, class: 'form-control',min: 0, id: "input"%>
        </div>
        <div class="form-group" style="display:none;">
          <%= form.label :extension_id %>
          <%= form.text_field :extension_id, :value => @extension_id %>
        </div>
      </div>
      <div class="modal-footer" >
        <%= form.submit "Registrar",class: "btn btn-primary", id: "submit"%>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

      </div>
    <% end %>
  </div>
</div>
<script>
$(document).ready(function() {
  var flag = true;
    if($('.select2 option:selected').text() == ""){
      $('#submit').attr('disabled', true);
    }
    $('#input').val(0);
    $('.select2').select2();
    $('.check').click(function() {
      if ($(this).val() == 1){
        $('#hora').hide();
        $('#input').val(0);
      }else{
        $('#hora').show();
        $('#input').val(0);
      }
      flag = false;
      $('#submit').attr('disabled', flag);
    });
    $('#input').keyup(function(){
      if($(this).val() == ""){
        flag = true;
      }else{
        flag = false;
      }
      $('#submit').attr('disabled', flag);
    });
});
</script>

