<%= form_with(model: manager, local: true) do |form| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :manager_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :manager_description %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :manager_place %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :manager_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :manager_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
