<p id="notice"><%= notice %></p>

<div class="invoice">
<h1>Detalle Documentos</h1>
<p>
  <strong>Nombre:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @document.extension_name %>
</p>

<div>
	<%= link_to 'Editar', edit_document_path(@document),class: 'btn btn-default btn-sm' %> |
	<%= link_to 'Volver', documents_path ,class: 'btn btn-default btn-sm'%>
</div>
</div>