<p id="notice"><%= notice %></p>

<h1>Data Users</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apeelido</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Correo</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_users.each do |data_user| %>
      <tr>
        <td><%= data_user.nombre %></td>
        <td><%= data_user.apeelido %></td>
        <td><%= data_user.telefono %></td>
        <td><%= data_user.direccion %></td>
        <td><%= data_user.correo %></td>
        <td><%= data_user.users %></td>
        <td><%= link_to 'Show', data_user %></td>
        <td><%= link_to 'Edit', edit_data_user_path(data_user) %></td>
        <td><%= link_to 'Destroy', data_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data User', new_data_user_path %>
