 <%= form_for @user, url: {action: "create"} do |f|%> 
  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Apellido" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<div class="field">
  <%= f.label "Cargo" %><br />
  <%= select_tag :role, options_from_collection_for_select(Role.all,"name","name") %>
  <%= link_to new_role_path do %>
  <span>+</span>
  <i class="icon-ok icon-white"></i>
  <% end %>
  </div>
  <br/>
  
  <button type="submit" class="btn btn-primary">Registrar</button>
<% end %>
