<p id="notice"><%= notice %></p>

<h1>Fotos</h1>

    <% @photos.each do |photo| %>
      <div class="col-sm-3">
        <ul class="list-group">
        <li class="list-group-item">
          <%= photo.name %>  
        </li>
        <li class="list-group-item">
          <div class="media">
            <%= image_tag photo.img.url, size: "160x100" %>
            <div class="media-body">
              <p><%= photo.description %></p>
            </div>
          </div>
        </li>

        <td>            
            <%= link_to 'Detalle', photo %>
            <%= link_to 'Editar', edit_photo_path(photo) %>
            <%= link_to 'Eliminar', photo, method: :delete, data: { confirm: 'Are you sure?' } %>    
        </td>
      </ul>
    </div>
    <% end %>

<br>

<%= link_to 'Agregar Foto', new_photo_path %>
