<section class="content">
      <div class="row">
        <div class="col-xs-12">    
      <!-- Content Header (Page header) -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Usuarios</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Rol</th>
                      <th>Acciones</th>
                                    
                </tr> 
                </thead>
                  <tbody>
              <% @users.each do |usuario| %>
                    <tr>
                     <td><%= usuario.name %></td>
                     <td><%= usuario.last_name %></td>
                     <td><%= usuario.email %></td>
                     <td><%= usuario.roles.pluck(:name).join(",")%></td>
                     <td>
                     <%if can? :read, usuario%>        
                        <%= link_to usuario_path(usuario),:remote => true,class: 'fa fa-eye btn btn-warning' do %>
                          <i data-toggle="tooltip" title="ver"></i>
                        <%end%>
                     <%end%>
                     <%if can? :update, usuario,:remote => true%>
                        <%= link_to edit_usuario_path(usuario), class: 'btn btn-info fas fa-pencil-alt' do %>
                          <i data-toggle="tooltip" title="editar"></i>
                       <%end%>
                     <%end%>
                   
                     <%if can? :destroy,usuario%>
                        <%if usuario==current_user%>
                        <%else%>    
                        <%= button_to usuario_path(usuario), method: :delete,class: 'fas fa-trash-alt btn btn btn-danger', data: { confirm: 'Estas seguro?'} do %>
                          <i data-toggle="tooltip" title="eliminar"/>
                        <%end%>
                     <%end%>
                     <%end%>
                    </td>
                   </tr>
              <% end %>                  
               </tbody>
                <tfoot>
                <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Rol</th>
                      <th>Acciones</th>                 

                </tr>
                </tfoot>
              </table>
            </div>


            <!-- /.box-body -->
          </div>
          
        <%if can? :create,current_user%>
        <%= link_to new_usuario_path, :remote=> true do %>
        <button class="btn btn-primary" type="submit">Agregar Usuario</button>
        <%end%>
        <%end%>

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
   <div id='ver' style='display:none;'>
  </div>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>


<!-- Trigger the modal with a button -->


