<div class="invoice">
	<section class="cabecera">
		<h1 class="page-header">
			<i class="fa fa-user"> </i>
			Datos del Usuario.
		</h2>
		
		<div>	
			<p>
				<strong>Nombre: </strong>
				<%= @user.name %>
			</p>
		</div>
		
		<div>
			<p>
				<strong>Apellido: </strong>
				<%= @user.last_name %>
			</p>
		</div>

		<div>
			<p>
				<strong>Email: </strong>
				<%= @user.email %>
			</p>
		</div>
	</section>
	<section class="box cuerpo">
		<section class="box-body">
			<div class="list-group">
			  <h5 class="list-group-item active" style="text-align: center;">Trabajos de investigación a cargo.</h2>
				<% if @investigations.empty? %>
					<p class="list-group-item list-group-item-action">No hay investigaciones a cargo por el momento.</p>
			 	<%end%>

				<% @investigations.each do |investigation| %>
				  	<%= link_to investigation.nombre, investigation_path(investigation, :param => @rol), class: 'list-group-item list-group-item-action' %>
				<%end%>
			</div>
		</section>
		<section class="box-footer">
			<div>
				<%= link_to 'Volver', investigators_usuarios_path(:param => @rol), class: 'btn btn-success' %>
			</div>
		</section>	
	</section>
</div>