<!DOCTYPE html>
<html>
	<head>
    	
		<title>Dirección de Extensión e Investigación - FIUNI</title>
		
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	
  	</head>
  

<body class="hold-transition skin-green sidebar-mini">

		<div class="container">
			<section class="main row">
				<header class="col-md-2">
					<br/>
					<div class="imagen_logo">
						<%= image_tag "logo2.png", :alt => "universidad", :title => "uni", :width => '140'%>
					</div>
					<br/>
				</header>
				<header class="col-md-8">
					<br/>
					<br/>
					<h3 ALIGN="center">Dirección de Extensión e Investigación</h3>
					<h3 ALIGN="center">Facultad de Ingeniería - UNI</h3>
				</header>
				<header class="col-md-2">
					<br/>
					<div class="imagen_logo">
						<%= image_tag "FIUNI2.png", :alt => "facu", :title => "fiuni", :width => '130', :align => 'middle'%>
					</div>
					<br/>
				</header>
			</section>
		</div>


  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>D.</b>Ex</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Depto. </b>Extension</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">

        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MENU</li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-list-alt fa-fw"></i> <span>Extension</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Proyectos</a></li>
              <li><a href="index2.html"><i class="fa fa-circle-o"></i> Actividades</a></li>
              <li><a href="index2.html"><i class="fa fa-circle-o"></i> Servicios</a></li>
            </ul>
          </li>
          <li><a href="universitarios"><i class="fa fa-users"></i> <span>Universitarios</span></a></li>
          <li><a href="https://adminlte.io/docs"><i class="fa fa-camera"></i> <span>Galeria</span></a></li>    
          <li><a><i class="fa fa-user"></i> <span>Usuarios</span></a></li>
          
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="padding-top:1px;">
     <%= yield %>

    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
      reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>


    	  
  	</body>

</html>
